html{
    background-color: #7EB4A3;
    font-family: 'Georgia', serif;
    justify-content: center;
    align-items: center;
    display: flex;
}

h1{
    color: #323b3a;
    padding-top: 50px;
    text-align: center;
}

input{
    border-radius: 8px;
    border: 0;
    font-size: 25px;
    text-align: center;
    margin: 10px;
}

button{
    border: 0;
    border-radius: 20px;
    font-size: 20px;
    text-align: center;
    height: 40px;
    width: 100px;
    background-color: #36574c;
    color: white;
    font-weight: 600;
    margin: 15px;
}

.cuadro{
    background-color: #7da397 ;
    height: 325px;
    width: 400px;
    border-radius: 50px;
    margin-top: 50%;
    text-align: center;
}

a{
    text-decoration: none;
    color: #323b3a;
}

a:hover{
    text-decoration: none;
    color: white;
}

.cuadro2{
    background-color: #7da397 ;
    height: 550px;
    width: 400px;
    border-radius: 50px;
    margin-top: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cuadro2 label{
    text-align: left;
    padding-left: 10px;
    color: #323b3a;
}

.cuadro2 button{
    display: block;
    margin: 15px auto;
}

.mensaje{
    text-align: center;
}

table{
    border-collapse: collapse;
    font-size: 20px;
}

th, td{
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
}

tr:nth-child(even){
    background-color: white;
}

tr:nth-child(odd){
    background-color: #c4c4c4;
}

tr:first-child {
    background-color: #999999;
}

.acciones{
    display: inline;
}

.acciones button{
    font-size: 18px;
    height: 30px;
    width: 90px;
    background-color: #36574c;
    color: white;
    font-weight: 600;
    margin: 10px;
}

.eliminar:hover{
    background-color: #B00000;
}

.editar:hover{
    background-color: #C5A439;
}

.cuadro3{
    background-color: #7da397 ;
    height: 100px;
    width: 400px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 60px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.cancelar:hover{
    background-color: #119100;
}

.centrar{
    display: flex;
    justify-content: center;
    align-items: center;
}